<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Contacto</title>
</head>
<body>
    <!--
        CHALLENGE.
        Cambiar el titulo del documento creado > Contacto.
        Crear un titulo h1 dentro del body, con el texto "Contacto"
    -->
    <a href="{{ url_for('inicio') }}"> Inicio </a>
    <a href="{{ url_for('contacto') }}"> Contacto </a>
    
    <h1>Contacto</h1>

    <h2> Celular: 0985 187 623 </h2>
    <h3> Email: steven@reybritez.com </h3>
</body>
</html>